.home_pg {
    background: url('../../images/pg-background.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 500px;
    
}

.home__header {
    color: #fff;
    padding-top: 50px;
    padding-left: 25px;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.home__header p { 
    font-size: 1.15rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
}
