.section {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.section .col {
  margin: 0.5rem;
}

.section__item {
  box-shadow: -2px 3px #000;
  padding: 17px;
  height: 100%;
}
.item__title {
  text-transform: uppercase;
  font-weight: bold;
}

.item__detail p {
  font-size: 1.15rem;
}